/*@import "./theme.css";*/
/*@import "./toc.css";*/

.markdown {
    margin: 0;
    padding: 0;
}

.markdown .line-numbers {
    padding: 0 18px;
}

/* theme begin */

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-family: Microsoft Yahei, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.4;
    cursor: text;
}

.markdown h1 {
    padding-bottom: .4rem;
    font-size: 2.2rem;
    line-height: 1.3;
}

.markdown h2 {
    font-size: 1.75rem;
    line-height: 1.225;
    margin: 35px 0 15px;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

.markdown h3 {
    font-size: 1.4rem;
    line-height: 1.43;
    margin: 20px 0 7px;
}

.markdown h4 {
    font-size: 1.2rem;
}

.markdown h5 {
    font-size: 1rem;
}

.markdown h6 {
    font-size: 1rem;
    color: #777;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table {
    font-family: Microsoft Yahei, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    margin: 0.8em 0;
}

.markdown blockquote {
    margin: 0;
    padding: 4px 8px;
    border-left: 2px solid #009A61;
    background: #F6F6F6;
    color: #555;
    font-size: 1em;
}

.markdown pre, .markdown code {
    font-family: Consolas, Microsoft Yahei, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.markdown pre {
    font-size: 14px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.markdown pre code {
    padding: 0;
}

.markdown p code,
.markdown h1 code,
.markdown h2 code,
.markdown h3 code,
.markdown h4 code,
.markdown h5 code,
.markdown h6 code,
.markdown ul li code,
.markdown ol li code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.markdown img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.markdown a {
    color: #009a61;
    text-decoration: none;
    border-bottom: 1px solid #009a61;
}

.markdown a.toc-anchor {
    color: #fff;
    border: none;
    display: none;
}

.markdown table {
    width: 70%;
    padding: 0;
    word-break: initial;
    border-collapse: collapse;
}

.markdown table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

.markdown table tr:nth-child(2n),
.markdown thead {
    background-color: #fafafa;
}

.markdown table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.markdown table tr td {
    border: 1px solid #dfe2e5;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.markdown table tr th:first-child,
.markdown table tr td:first-child {
    margin-top: 0;
}

.markdown table tr th:last-child,
.markdown table tr td:last-child {
    margin-bottom: 0;
}

.markdown ul,
.markdown ol {
    padding-left: 30px;
}

.markdown li {
    margin: 4px 0;
    position: relative;
}

.markdown ul:last-child,
.markdown ol:last-child {
    margin-bottom: 0;
}

.markdown li > ol,
.markdown li > ul {
    margin: 0 0;
}

/* theme end  */

/* toc begin */

.toc {
    background: #fff;
    overflow-y: scroll;
    width: 90%;
    max-height: 86%;
    margin: 0 auto;
    height: 86%;
}

.toc ul, .toc ol {
    padding-left: 30px;
}

.toc li {
    margin: 6px 0;
    position: relative;
}

.toc ul:last-child, .toc ol:last-child {
    margin-bottom: 0;
}

.toc li > ol, .toc li > ul {
    margin: 0 0;
}

.toc ul li,
.toc ul li a {
    cursor: pointer;
}

.toc ul li a {
    border: none;
    color: #000;
}

.toc ul li a code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    border-radius: 4px;
    color: #c7254e;
    padding: 0 4px;
    background-color: #f9f2f4;
}

/* toc end */

.tool {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #4d4d4d;
    box-shadow: 0 0 6px rgba(0, 0, 0, .12);
    text-align: center;
    line-height: 40px;
    color: #f2f5f6;
}

.tool-category {
    font-size: 30px;
}

.tool-up {
    font-size: 30px;
}

span[role="heading"] {
    font-size: 20px;
    font-weight: 600;
    border: none;
}